.anons.balc{
	color: #fff;
	height: 510px;
}

.balc ul.anons_li li:before{
    content: "";
    position: absolute;
    left: 0;
    background-size: auto;
}
.balc ul.anons_li li:before {
    top: 0;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
}
.balc ul.anons_li li {
    padding-left: 70px;
    min-height: 55px;
    font-size: 21px;
    position: relative;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}





.balc ul.anons_li .door0::before{
	background-image: url(../img/icon/balcon_header_icon1.png);
}
.balc ul.anons_li .door1::before{
	background-image: url(../img/icon/balcon_header_icon2.png);
}
.balc ul.anons_li .door2::before{
	background-image: url(../img/icon/balcon_header_icon3.png);
}
.balc ul.anons_li .door3::before{
	background-image: url(../img/icon/balcon_header_icon4.png);
}

.review_title{
	font-size: 30px;
}

.review_content{
	font-size: 20px;
	/*margin-left: 50px;*/
}

.row_no_padding{
	padding: 50px 0px 50px 0px;
}

.title-m, .title{
	/*text-align: center;*/
	font-size: 40px;
	margin: 50px 0px 50px 0px;
}


.title-img, .sem{
	background-size: cover;
    background: no-repeat center;
    height: 386px;
    padding-top: 70px!important;
}



.text-title{
	float: right;
	margin-left: 50px; 
}


.btn{
	background-color: #00cc00;
	border: none;
	border-radius: 5px;
	padding: 10px 40px;
}

/*===================================*/


.sketch{
	padding: 70px 0;
    margin: 0 0 50px;
    background: url(img/sketch_bg.png) no-repeat center;
    text-align: center;
}

.fears_item{
	text-align: center;
}


.fears_title{
	font-size: 25px;
	font-weight: bold;
	margin: 30px 0px 30px 0px;
}

.fears_desc{
	font-weight: bold;
	margin-bottom: 20px;
}


.rev {
	background-color: #ddd;
}



.fears:after {
    top: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(img/slider_bg.png) no-repeat center;
    left: 50%;
    width: 1360px;
    height: 100%;
}



/*===================================*/



.time_title,.make_all_title, .call_master_title{
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}

.time_desc, .make_all_desc, .call_master_desc{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
/*===================================*/


.builders_team_title{
	font-size: 40px;
	font-weight: bold;
	line-height: 1;
}

.builders_team_desc{
	font-size: 20px;
}

/*==================================*/




.box{
    padding-left: 100px;
    min-height: 180px;
    max-width: 100%;
    background-size: auto;
    font-size: 18px;

}

.num{
 color: red;
 font-weight: bold;
 font-size: 60px;
}

.num_text{
	color: red;
	font-weight: bold;
	font-size: 20px;
}


.col-md-4>img{
	vertical-align: middle;
    margin-bottom: -93px;
}

.mass{
	background-size: 100% 100%;
    width: 380px;
    padding: 30px 40px 40px;
    position: absolute;
    top: -100px;
    right: 0;
}


.call_master {
    background: url(/public/common/call_master.png) no-repeat center;
    height: 345px;
    z-index: 998;
    padding: 80px 0;
    position: relative;
    margin-bottom: 50px;
}

#size_select-styler{
	position: relative; 
	z-index:100;
}



#size_select{
	margin: 0px; 
	padding: 0px; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	opacity: 0;
}

.jq-selectbox__select{
	position: relative;
	height: 53px;
	padding: 3px 45px 3px 10px;
	border: 1px solid #ccc;
	border-bottom-color: #cbd2d6;
	border-radius: 6px;
}

.jq-selectbox__select-text{
	text-align: left;
	padding-left: 20px;
	padding-top: 7px; 
	display: block;
    width: 100%;
}
.jq-selectbox__trigger-arrow{
	top:23px;
}

.button{
    padding: 10px 0 9px;
}
.balc.calculation:before {display: none;}
.balc .calculation_item_wrapp{display: block}
.balc.calculation .calculation_item_0 .calculation_type_radio{padding: 0; border: none;}
.balc.calculation .calculation_item_0 .calculation_type_radio label{text-align: left;}
.balc.calculation .calculation_item_0 .calculation_type_radio_img img{display: block;}
.balc .calculation_item_1{padding-top: 0;  background-color: initial;}
.balc.calculation .calculation_item_1 .form_type label {width: 160px; height: 160px;margin-bottom: 10px;cursor: pointer;}
.balc.calculation .calculation_item_1 .form_type input[type=radio]:checked+label{height: 160px;}
.balc.calculation .calculation_item_1{height: auto; padding-bottom: 0; margin-bottom: 0;}
.balc.calculation .calculation_item_1 .form_type_1 label{background: url(../img/balkon/plan/balcon_form-1.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_2 label{background: url(../img/balkon/plan/balcon_form-2.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_3 label{background: url(../img/balkon/plan/balcon_form-3.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_4 label{background: url(../img/balkon/plan/balcon_form-5.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_5 label{background: url(../img/balkon/plan/balcon_form-4.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_1 input[type=radio]:checked+label {background: url(../img/balkon/plan/balcon_form-1_h.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_2 input[type=radio]:checked+label {background: url(../img/balkon/plan/balcon_form-2_h.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_3 input[type=radio]:checked+label {background: url(../img/balkon/plan/balcon_form-3_h.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_4 input[type=radio]:checked+label {background: url(../img/balkon/plan/balcon_form-5_h.png) no-repeat center;}
.balc.calculation .calculation_item_1 .form_type_5 input[type=radio]:checked+label {background: url(../img/balkon/plan/balcon_form-4_h.png) no-repeat center;}

.calculation .calculation_item_3{background: none;}

.calculation .calculation_item_4{border: none;}
.calculation .calculation_item_4 .title{position: relative; text-align: left; text-align: left;margin-bottom: 25px; line-height: 32px;margin-left: -39px;}
.form_tehno .check .checkbox:not(checked)+label{display: block; text-align: left;}

/*=====================================================*/
/*================== GLAZING_COTTADES =================*/
/*=====================================================*/

@media screen and (max-width: 768px){
	.diagram.balc{padding-top: 270px;}
}

